
.vs/Proyecto_Prestamos/FileContentIndex/2cc52482-cfa4-4053-a3ce-8ad7866644d2.vsidx
.vs/slnx.sqlite
.vs/Proyecto_Prestamos/FileContentIndex/e1e8d453-2fa9-462f-a986-388d3fa680ca.vsidx
.vs/Proyecto_Prestamos/FileContentIndex/d1250d95-a7fc-49e9-a352-02c59394ac6a.vsidx
.vs/Proyecto_Prestamos/FileContentIndex/d9ad1e4a-2dd7-4abb-b37d-95ce2631efea.vsidx
.vs/Proyecto_Prestamos/FileContentIndex/8f6aad9a-fdf1-4631-a460-446b8b267b0f.vsidx
